mixin inputPassword(object)
	div(class=`form-input ${object.wrapperClasses}`)
		label(class="group relative flex flex-col-reverse")
			input(class="hover:border-primary-800 focus:border-primary-600 px-4 py-3 text-black placeholder-gray-400 transition border border-gray-400 rounded outline-none" type=`${object.type}` placeholder=`${object.placeholder}`)
			a(class="password-control right-4 top-[43px] hover:text-primary-500 absolute w-6 h-6 text-gray-400 transition" href="javascript:void(0);" title="Показать пароль")
				svg(xmlns="http://www.w3.org/2000/svg" class="password-control__off" width="24" height="24" fill="none" viewBox="0 0 32 32")
					path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4l24 24M14.112 14.116a2.667 2.667 0 103.77 3.773")
					path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.484 7.153A12.622 12.622 0 0116 6.667c5.333 0 9.777 3.11 13.333 9.333-1.037 1.815-2.15 3.366-3.337 4.65m-2.854 2.482C20.968 24.6 18.59 25.333 16 25.333c-5.334 0-9.777-3.11-13.334-9.333 1.826-3.193 3.885-5.566 6.176-7.121")
				svg(xmlns="http://www.w3.org/2000/svg" style="display: none" class="password-control__on" width="24" height="24" fill="none" viewBox="0 0 32 32")
					path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 18.667a2.667 2.667 0 100-5.334 2.667 2.667 0 000 5.334z")
					path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M29.333 16c-3.556 6.223-8 9.333-13.333 9.333-5.334 0-9.777-3.11-13.334-9.333 3.557-6.223 8-9.333 13.334-9.333 5.333 0 9.777 3.11 13.333 9.333z")
			span(class=`form-input__desc font-semibold text-black ${object.labelClass}`)
				| #{object.label}
		span(class="form-input__error text-error text-xs leading-5")

script.
	document.addEventListener("DOMContentLoaded", () => {
		$(".password-control").click(function () {
			let passwordInput = $(this).prev();
			if (passwordInput.attr("type") == "password") {
				$(this).find(".password-control__on").show();
				$(this).find(".password-control__off").hide();
				passwordInput.attr("type", "text");
			} else {
				$(this).find(".password-control__off").show();
				$(this).find(".password-control__on").hide();
				passwordInput.attr("type", "password");
			}
			return false;
		});
	})

//- +inputPassword({
//- 	wrapperClasses: "w-full",
//- 	type: "password",
//- 	placeholder: "Placeholder",
//- 	label: "Label",
//- 	labelClass: "text-base mb-1.5",
//- })